@import "tailwindcss";

@theme {
  --color-accent-100: #d9acf5;
  --color-accent-200: #fff4ff;
  --color-bg-100: #523956;
  --color-bg-200: #393e46;
  --color-primary-100: #d29fff;
  --color-primary-200: #c168ff;
  --color-primary-300: #fdf6fd;
  --color-text-100: #ffddff;
}

.link {
  @apply text-white font-semibold text-sm hover:text-accent-100 hover:scale-105 transition-all;
}

.active {
  @apply bg-accent-200/80 dark:text-black
}

.hover {
  @apply hover:text-black hover:bg-accent-200/40
}