---
import Presentation from "@/components/Presentation.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Portafolio - EdGonz">
  <main class="w-full h-screen flex flex-col items-center px-7">
    <Presentation />
  </main>
</Layout>
