---
import Presentation from "@/components/Presentation.astro";
import Projects from "@/components/Projects.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Portafolio de EdGonz - Desarrollador y Programador Web"
  description="Desarrollo soluciones web personalizadas para potenciar ideas y negocios. Diseño, desarrollo y optimización de sitios web con tecnología moderna y escalable."
>
  <main class="w-full h-screen flex flex-col items-center px-7 gap-10">
    <Presentation />
    <Projects />
  </main>
</Layout>
