---

---

<header class="w-full h-13 flex justify-center items-center pt-3 px-3 max-w-lg">
  <nav
    class="w-full h-7 flex flex-row justify-evenly gap-2 items-center rounded-xl px-2.5 bg-accent-100/20 z-10"
  >
    <a class="link" href="#experiencie">Experiencia</a>
    <a class="link" href="#projects">Proyectos</a>
    <a class="link" href="#about-me">Sobre mi</a>
    <a class="link" href="#contact">Contacto</a>
  </nav>
</header>
