---

---

<header class="w-full h-13 flex justify-center items-center py-2 px-2">
  <nav
    class="w-full h-7 flex flex-row justify-evenly gap-2 items-center rounded-xl px-2.5 bg-accent-100/20"
  >
    <a class="link" href="/Experiencia">Experiencia</a>
    <a class="link" href="/Proyectos">Educación</a>
    <a class="link" href="/Contacto">Sobre mi</a>
    <a class="link" href="/Contacto">Contacto</a>
  </nav>
</header>
