---

---

<header class="w-full h-13 flex justify-center items-center py-2 px-3">
  <nav
    class="w-full h-7 flex flex-row justify-evenly gap-2 items-center rounded-xl px-2.5 bg-accent-100/20"
  >
    <a class="link" href="#experiencia">Experiencia</a>
    <a class="link" href="#proyectos">Educación</a>
    <a class="link" href="#sobre-mi">Sobre mi</a>
    <a class="link" href="#contacto">Contacto</a>
  </nav>
</header>
