---
import Badge from "./Badge.astro";
import Pulser from "./Pulser.astro";
import SocialStack from "./SocialStack.astro";
---

<div class="w-full grid grid-cols-5 grid-rows-7 gap-1">
  <div class="col-span-2 row-span-2 justify-self-center">
    <img
      class="w-30 h-30 object-cover rounded-full border-[0.5px] border-primary-100"
      src="/src/assets/images/photo.webp"
      alt="Foto de un hombre joven con gafas, barba corta y cabello oscuro, usando una camiseta morada. Fondo con tonos azulados y efecto de iluminación sutil."
    />
  </div>
  <div class="col-span-3 row-span-2 col-start-3 self-center">
    <Badge
      href="https://www.linkedin.com/in/edwin-contreras-1bb516247/"
      class="text-xs font-medium bg-green-100/60 dark:text-green-300 dark:bg-green-900/60 text-green-800"
    >
      Disponible para trabajar
      <Pulser />
    </Badge>
  </div>
  <div
    class="col-span-5 row-span-2 row-start-3 flex flex-col justify-center gap-2 text-end text-4xl"
  >
    <p class="font-bold text-white">Hola, soy</p>
    <h1 class="font-bold text-primary-800 dark:text-primary-100">
      Edwin Contreras
    </h1>
  </div>
  <div class="col-span-5 row-span-2 row-start-5">
    <p class="text-base text-text-100">
      +2 años de experiencia como
      <span class="text-primary-100"> Ingeniero de Software. </span>
      En constante aprendizaje, para mejorar mis conocimientos. Soy de Venezuela.
      Enfocado en buscar soluciones con Software.
    </p>
  </div>
  <div class="col-span-5 row-start-7 flex flex-row gap-2 justify-center">
    <SocialStack />
  </div>
</div>
