---
import { SOCIAL } from "@/const/socials";
import Badge from "./Badge.astro";
---

{
  SOCIAL.map((social) => (
    <Badge
      href={social.url}
      class={social.class}
      AnchorClass="hover:scale-110 transition-transform"
    >
      <social.image.logo
        class="size-6 md:size-8 text-white"
        aria-label={`Logo de ${social.name}`}
        role="img"
      />
      <span class="text-base font-normal text-white">{social.name}</span>
    </Badge>
  ))
}
