---
// Supports weights 100-800
import "@fontsource-variable/ubuntu-sans";
import "./src/styles/global.css";
import Nav from "@/components/Nav.astro";
interface Pros {
  title: string;
  description: string;
}

const { title, description } = Astro.props as Pros;
---

<!doctype html>
<html class="scroll-smooth" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <Nav />
    <slot />
  </body>
</html>

<style>
  ::root {
    color-scheme: light dark;
  }
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Ubuntu Sans Variable", sans-serif;
    background: var(--color-bg-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
</style>
